NEXT_PUBLIC_SUPABASE_URL=https://dqltbpynoihcyvucofpe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxbHRicHlub2loY3l2dWNvZnBlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2OTQ2NDIsImV4cCI6MjA3MzI3MDY0Mn0.B1NiP1jWmQdiE_EjUCGOauE6QaHU3d7_bW8ACbfNIoU